node_modules/
dist/
.env
.env.*
!.env.example
.next/
.vscode/
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.idea/
